
<h1>Note Application</h1>
<%-# link_to is a helper in rails for creating links "My Notes" is the hyperlink text and the path is the "notes" controller%>
<%= link_to 'My Notes', controller: 'notes' %>
